<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Productos</title>
    <link rel="stylesheet" href="../libs/css/normalize.css">
    <link rel="stylesheet" href="../libs/css/bootstrap.min.css">
    <link rel="stylesheet" href="../libs/css/font-awesome.min.css">
    <link rel="stylesheet" href="../libs/css/style.css">
    <link rel="stylesheet" href="../libs/css/imageStyle.css">
    <link rel="Shortcut Icon" type="image/x-icon" href="./images/logo imcape.jpg" />
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')
    </script>
    <script src="../libs/js/modernizr.js"></script>
    <script src="../libs/js/main.js"></script>
    <script src="../libs/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="page-container">
        <nav class="full-reset nav-phonestore">
            <div class="logo tittles-pages">
                IMCAPE
            </div>
            <ul class="list-unstyled full-reset navigation-list">
                <li><a href="/index">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/carrito">Compras</a></li>
                <li><a href="/noticias">Noticias</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/contacto">Contactenos</a></li>
            </ul>
            <i class="fa fa-bars visible-xs btn-mobile"></i>
        </nav>
        <div class="content-page">
            <div class="hidden-xs content-carousel">
                <div id="carousel-phonestore" class="carousel slide" data-ride="carousel" style="margin-top:0;">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-phonestore" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-phonestore" data-slide-to="1"></li>
                        <li data-target="#carousel-phonestore" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <center>
                                <img src="./images/Imagen4.png" size="500px,1000px">
                            </center>
                            <div class="carousel-caption">
                                <h2>O-RING VITON</h2>
                            </div>
                        </div>
                        <div class="item">
                            <center>
                                <img src="./images/Imagen2.png" alt="">
                            </center>
                            <div class="carousel-caption">
                                <h2>SERIE UA21</h2>
                            </div>
                        </div>
                        <div class="item">
                            <center>
                                <img src="./images/Imagen1.png" alt="">
                            </center>
                            <div class="carousel-caption">
                                <h2>O-RING NITRILO</h2>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-phonestore" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-phonestore" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
            <div class="visible-xs static-image-carousel">
                <img src="assets/img/image-carousel.jpg" alt="" class="img-responsive">
            </div>
            <section id="prod-container section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <p class="tittles-pages">O-Rings y Empaquetaduras</p>
                        </div>
                        <div class="col-xs-12">
                            <div class="container">
                                <!-- <ul class="nav nav-tabs" role="tablist" id="TabProducts">
                                    <li class="active"><a href="#all-categories" role="tab" data-toggle="tab"><i
                                                class="fa fa-th"></i>&nbsp; Todo</a></li>
                                    <li><a href="#smartphones" role="tab" data-toggle="tab"><i
                                                class="fa fa-mobile"></i>&nbsp; SmartPhones</a></li>
                                    <li><a href="#tablets" role="tab" data-toggle="tab"><i
                                                class="fa fa-tablet"></i>&nbsp; Tablets</a></li>
                                    <li>
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                                class="fa fa-hdd-o"></i>&nbsp; Buscar OS <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                                            <li><a href="#android" tabindex="-1" role="tab" data-toggle="tab"><i
                                                        class="fa fa-android"></i>&nbsp; Android</a></li>
                                            <li><a href="#iOS" tabindex="-1" role="tab" data-toggle="tab"><i
                                                        class="fa fa-apple"></i>&nbsp; iOS</a></li>
                                            <li><a href="#windowsPhone" tabindex="-1" role="tab" data-toggle="tab"><i
                                                        class="fa fa-windows"></i>&nbsp; Windows Phone</a></li>
                                        </ul>
                                    </li>
                                </ul> -->
                                <div class="tab-content">
                                    <!-- ===================================== Todas las categorias ============================================= -->
                                    <div class="tab-pane active" id="all-categories">
                                        <p class="tittles-pages">Aros sellos</p>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-3">
                                                <div class="thumbnail thumbnail-content-phones">
                                                    <img src="assets/img/img1.jpeg" alt="prod-icon" class="img-responsive">
                                                    <div class="caption">
                                                        <h3 class=" text-center">O-RING NITRILO</h3>
                                                        <p class="text-justify">
                                                            El NBR es un compuesto que posee una excelente resistencia a la abrasión, aceites no polares y solventes, agua y permeasión (es mejor con un contenido elevado de acrilonitrilo).
                                                            <p class="text-center"><a href="#" class="btn btn-danger" role="button">Ver más</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3">
                                                <div class="thumbnail thumbnail-content-phones">
                                                    <img src="./images/oring viton verde marron.jpeg" alt="prod-icon" class="img-responsive">
                                                    <div class="caption">
                                                        <h3 class=" text-center">O-RING VITON</h3>
                                                        <p class="text-justify">
                                                            Puesto que el FKM es resistente a altas temperaturas, aceite, solvente, llama, químicos y cambios climáticos, se utiliza generalmente en automotriz, procesos químicos, aeroespacial y muchos otras industrias..

                                                        </p>
                                                        <p class="text-center"><a href="#" class="btn btn-danger" role="button">Ver más</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3">
                                                <div class="thumbnail thumbnail-content-phones">
                                                    <img src="./images/ORINGSILICONE70.jpeg" alt="prod-icon" class="img-responsive">
                                                    <div class="caption">
                                                        <h3 class=" text-center">ORING SILICONE</h3>
                                                        <p class="text-justify">

                                                            Los perfiles UA17 tienen un único y efectivo labio rascador que sobresale de la cabeza. Este diseño permite secciones transversales radiales pequeñas y reduce el riesgo de adherencia de contaminantes en el labio rascador.
                                                        </p>
                                                        <p class="text-center"><a href="#" class="btn btn-danger" role="button">Ver más</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3">
                                                <div class="thumbnail thumbnail-content-phones">
                                                    <img src="./images/serie UB6-1.jpeg" alt="prod-icon" class="img-responsive">
                                                    <div class="caption">
                                                        <h3 class=" text-center">SERIE UB</h3>
                                                        <p class="text-justify">
                                                            Los sellos UB6 son sellos de vástago de poliuretano con copa en U asimétricos, están fabricados con un diseño de un solo labio. Son adecuados para en aplicaciones de trabajo mediano a pesado.
                                                        </p>
                                                        <p class="text-center"><a href="#" class="btn btn-danger" role="button">Ver más</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- ===================================== CATEGORIA 2 ============================================= -->
                                        <div class="tab-pane active" id="all-categories">
                                            <p class="tittles-pages">Limpiadores y neumaticos</p>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6 col-md-3">
                                                    <div class="thumbnail thumbnail-content-phones">
                                                        <img src="./images/Serie UB9 – SELLO PISTON.jpeg" alt="prod-icon" class="img-responsive">
                                                        <div class="caption">
                                                            <h3 class=" text-center">SERIE UB9 – SELLO PISTON</h3>
                                                            <p class="text-justify">
                                                                El sello UB9 es un sello amortiguador de acción simple de dos piezas que consta de un elemento de sellado elastomérico especialmente diseñado para evacuar la contrapresión y un anillo de respaldo termoplástico.
                                                            </p>
                                                            <p class="text-center"><a href="#" class="btn btn-danger" role="button">Ver más</a></p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-sm-6 col-md-3">
                                                    <div class="thumbnail thumbnail-content-phones">
                                                        <img src="assets/img/img27.jpeg" alt="prod-icon" class="img-responsive">
                                                        <div class="caption">
                                                            <h3 class=" text-center">SERIE UA21</h3>
                                                            <p class="text-justify">
                                                                El UA21, es un rascador de simple efecto que asegura que las partículas exteriores no entren en el interior de los sistemas hidráulicos, evitando daños y desgaste en todos los componentes internos incluidos las juntas.

                                                            </p>
                                                            <p class="text-center"><a href="#" class="btn btn-danger" role="button">Ver más</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-3">
                                                    <div class="thumbnail thumbnail-content-phones">
                                                        <img src="assets/img/img20.jpeg" alt="prod-icon" class="img-responsive">
                                                        <div class="caption">
                                                            <h3 class=" text-center">SERIE UA17</h3>
                                                            <p class="text-justify">

                                                                Los perfiles UA17 tienen un único y efectivo labio rascador que sobresale de la cabeza. Este diseño permite secciones transversales radiales pequeñas y reduce el riesgo de adherencia de contaminantes en el labio rascador.
                                                            </p>
                                                            <p class="text-center"><a href="#" class="btn btn-danger" role="button">Ver más</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-3">
                                                    <div class="thumbnail thumbnail-content-phones">
                                                        <img src="./images/serie UB6-1.jpeg" alt="prod-icon" class="img-responsive">
                                                        <div class="caption">
                                                            <h3 class=" text-center">SERIE UB</h3>
                                                            <p class="text-justify">
                                                                Los sellos UB6 son sellos de vástago de poliuretano con copa en U asimétricos, están fabricados con un diseño de un solo labio. Son adecuados para en aplicaciones de trabajo mediano a pesado.
                                                            </p>
                                                            <p class="text-center"><a href="#" class="btn btn-danger" role="button">Ver más</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- ===================================== CATEGORIA 3 ============================================= -->
                                            <div class="tab-pane active" id="all-categories">
                                                <p class="tittles-pages">Kits</p>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                                        <div class="thumbnail thumbnail-content-phones">
                                                            <img src="./images/kits nbr 70 pulgadas.jpeg" alt="prod-icon" class="img-responsive">
                                                            <div class="caption">
                                                                <h3 class=" text-center">O-RING NITRILO</h3>
                                                                <p class="text-justify">
                                                                    El NBR es un compuesto que posee una excelente resistencia a la abrasión, aceites no polares y solventes, agua y permeasión (es mejor con un contenido elevado de acrilonitrilo).
                                                                    <p class="text-center"><a href="#" class="btn btn-danger" role="button">Ver más</a>
                                                                    </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                                        <div class="thumbnail thumbnail-content-phones">
                                                            <img src="./images/kits fkm 75 marron.png" alt="prod-icon" class="img-responsive">
                                                            <div class="caption">
                                                                <h3 class=" text-center">O-RING VITON</h3>
                                                                <p class="text-justify">
                                                                    Puesto que el FKM es resistente a altas temperaturas, aceite, solvente, llama, químicos y cambios climáticos, se utiliza generalmente en automotriz, procesos químicos, aeroespacial y muchos otras industrias..

                                                                </p>
                                                                <p class="text-center"><a href="#" class="btn btn-danger" role="button">Ver más</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                                        <div class="thumbnail thumbnail-content-phones">
                                                            <img src="./images/CATERPILLAR.jpeg" alt="prod-icon" class="img-responsive">
                                                            <div class="caption">
                                                                <h3 class=" text-center">ORING SILICONE</h3>
                                                                <p class="text-justify">

                                                                    Los perfiles UA17 tienen un único y efectivo labio rascador que sobresale de la cabeza. Este diseño permite secciones transversales radiales pequeñas y reduce el riesgo de adherencia de contaminantes en el labio rascador.
                                                                </p>
                                                                <p class="text-center"><a href="#" class="btn btn-danger" role="button">Ver más</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                                        <div class="thumbnail thumbnail-content-phones">
                                                            <img src="./images/KITS-KOMATSU.jpeg" alt="prod-icon" class="img-responsive">
                                                            <div class="caption">
                                                                <h3 class=" text-center">SERIE UB</h3>
                                                                <p class="text-justify">
                                                                    Los sellos UB6 son sellos de vástago de poliuretano con copa en U asimétricos, están fabricados con un diseño de un solo labio. Son adecuados para en aplicaciones de trabajo mediano a pesado.
                                                                </p>
                                                                <p class="text-center"><a href="#" class="btn btn-danger" role="button">Ver más</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Paginacion Windows Phone -->
                                            <!-- <div class="col-xs-12 text-center">
                                                <ul class="pagination">
                                                    <li><a href="#">&laquo;</a></li>
                                                    <li class="active"><a href="#">1</a></li>
                                                    <li><a href="#">2</a></li>
                                                    <li><a href="#">3</a></li>
                                                    <li><a href="#">4</a></li>
                                                    <li><a href="#">5</a></li>
                                                    <li><a href="#">6</a></li>
                                                    <li><a href="#">7</a></li>
                                                    <li><a href="#">&raquo;</a></li>
                                                </ul>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="col-xs-12 text-center">
                    <h3>Siguenos en</h3>
                    <ul class="list-unstyled list-social-icons">
                        <li>
                            <a href="https://www.facebook.com/Imcape-Importadora-de-Caucho-del-Per%C3%BA-EIRL-108276318315591">
                                <i class="fa fa-facebook" style="background-color: #3B5998;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="imcapeventas@gmail.com">
                                <i class="fa fa-google-plus" style="background-color: #DD4B39;"></i>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="#!">
                                <i class="fa fa-twitter" style="background-color: #56A3D9;"></i>
                            </a>
                        </li> -->
                        <!-- <li>
                            <a href="#!">
                                <i class="fa fa-youtube" style="background-color: #BF221F;"></i>
                            </a>
                        </li> -->
                    </ul>
                    <h4>IMCAPE &copy; 2021</h4>
                </div>
            </div>
        </footer>
    </div>
    <script>
        $(function() {
            $('#TabProducts a:first').tab('show')
        });
        $('#TabProducts a').click(function(e) {
            e.preventDefault()
            $(this).tab('show')
        });
    </script>
</body>

</html>